menuconfig INPUT_SMI230
	bool "Bosch Sensor SMI230"
	help
	  if you choose this option, a list of SMI230 features will be displayed.

	  If unsure, say N.

choice
	prompt "Select communication interface"
	depends on INPUT_SMI230
	help
	  Note: SPI and I2C are not supported at the same time, that is to say:
	  Choose either SPI or I2C to build the driver.

    config SMI230_SPI
	bool "Enable SPI connection"
	depends on SPI_MASTER
    config SMI230_I2C
	bool "Enable I2C connection"
	depends on I2C
endchoice

if INPUT_SMI230

config SMI230_DRIVER
	tristate "SMI230 all in one driver"
	depends on (I2C || SPI_MASTER) && SYSFS
	help
	 This driver combines acc and gyro together, i2c supported only

config BOSCH_DRIVER_LOG_FUNC
	tristate "Smart log function support"
	depends on (I2C || SPI_MASTER) && SYSFS
	help
	 If you say yes here, you get support for smart log function in Bosch sensor driver.

config SMI230_MAX_BUFFER_LEN
	int "configue read buffer size"
	default "16"
	help
	  Unless using FIFO, 16 is big enough for normal cases. Do not change this value if not sure.

endif
